body {
  background: #fff;
  font-family: Impact, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

ul {
  list-style: none;
}

#uiContainer{
  position: fixed;
  color:white;
  z-index:1;
}

#glContainer{
  position: absolute;
  left: 0px;
  top: 0px;
}

body 
{
  font-weight: bold;
  background-color: #ccccff;
  margin: 0px;
  overflow: hidden;
}

.friendPanel{
  background: rgba(232, 12, 122, 0.5);
  border-radius: 10px;
  width: 300px;

}

.friendHeader{
  cursor: pointer;
  padding-left: 40px;
  margin-bottom: 0px;
}

.friend:hover{
  background: red;
  cursor: pointer;
}

.friendListContainer{
  max-height: 500px;
  overflow: auto;
  background: rgba(155, 12, 122, 1);
}